[submodule "ThirdParty/depot-tools"]
	path = ThirdParty/depot-tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ThirdParty/grpc"]
	path = ThirdParty/grpc
	url = https://github.com/inworld-ai/inworld-ndk-grpc
	branch = inworld-master
[submodule "inworld-aec"]
	path = inworld-aec
	url = http://github.com/inworld-ai/inworld-aec
