# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

.vs/*
.vscode/*
.idea/*

!inworld-aec/prebuilt/win64/webrtc_aec_plugin.dll
!inworld-aec/prebuilt/mac/libwebrtc_aec_plugin.dylib

!ThirdParty/cppcheck/cppcheck.exe
!ThirdParty/cppcheck/cppcheck-core.dll

!inworld-vad/third-party/onnxruntime/lib/onnxruntime.dll
!inworld-vad/third-party/onnxruntime/lib/onnxruntime_providers_shared.dll
!inworld-vad/prebuilt/Win64/inworld-ndk-vad.dll

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/

android-gen-local.sh

local-*
