# /*************************************************************************************************
# * Copyright 2023-2024 Theai, Inc. dba Inworld AI
# *
# * Use of this source code is governed by the Inworld.ai Software Development Kit License Agreement
# * that can be found in the LICENSE.md file or at https://www.inworld.ai/sdk-license
# *************************************************************************************************/

name: build-win

on:
  workflow_call:

jobs:
  build-win:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: git-update-dependecies
      run: git submodule update --init --recursive | Write-Host
    - name: gen
      shell: pwsh
      run: |
          Start-Process -FilePath "win-gen.bat" " > GenLog.txt" -Wait -NoNewWindow -PassThru 
          cat GenLog.txt
          if (Select-String -Path GenLog.txt -Pattern "Configuring incomplete" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0
    - name: cppcheck-intall
      run: |
        choco install cppcheck
    - name: cppcheck-verify
      run: |
        cppcheck --version
    - name: cppcheck-run
      shell: pwsh
      run: |
          Start-Process -FilePath "win-cppcheck.bat" " > CppCheckLog.txt" -Wait -NoNewWindow -PassThru
          cat CppCheckLog.txt
          if (Select-String -Path CppCheckLog.txt -Pattern ": error:" -SimpleMatch -Quiet)
          {
            "CppCheck was not successfull"
            exit 1
          }
          if (Select-String -Path CppCheckLog.txt -Pattern ": warning:" -SimpleMatch -Quiet)
          {
            "CppCheck was not successfull"
            exit 1
          }
          if (Select-String -Path CppCheckLog.txt -Pattern ": performance:" -SimpleMatch -Quiet)
          {
            "CppCheck was not successfull"
            exit 1
          }
          if (Select-String -Path CppCheckLog.txt -Pattern ": portability:" -SimpleMatch -Quiet)
          {
            "CppCheck was not successfull"
            exit 1
          }
          exit 0
    - name: build-win
      shell: pwsh
      run: |
          Start-Process -FilePath "win-build.bat" " > BuildLog.txt" -Wait -NoNewWindow -PassThru
          cat BuildLog.txt
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk-app.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk-app built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk-unit.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk-unit built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "[  FAILED  ]" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0
    - name: clear-cmake-cache
      shell: pwsh
      run: |
          Remove-Item -Path "build\CMakeCache.txt"
    - name: gen-shared
      shell: pwsh
      run: |
          Start-Process -FilePath "win-gen-shared.bat" " > GenLog.txt" -Wait -NoNewWindow -PassThru 
          cat GenLog.txt
          if (Select-String -Path GenLog.txt -Pattern "Configuring incomplete" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0
    - name: build-win-shared
      shell: pwsh
      run: |
          Start-Process -FilePath "win-build.bat" " > BuildLog.txt" -Wait -NoNewWindow -PassThru
          cat BuildLog.txt
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk-app.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk-app built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "inworld-ndk-unit.vcxproj ->" -SimpleMatch -Quiet)
          {
            "inworld-ndk-unit built successfully"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "[  FAILED  ]" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0
    - uses: actions/cache/save@v3
      with:
        path: build\Package
        key: ndk-cache-win64-${{ github.sha }}

         
