# /*************************************************************************************************
# * Copyright 2023-2024 Theai, Inc. dba Inworld AI
# *
# * Use of this source code is governed by the Inworld.ai Software Development Kit License Agreement
# * that can be found in the LICENSE.md file or at https://www.inworld.ai/sdk-license
# *************************************************************************************************/

name: build-android

on:
  workflow_call:

jobs:
  build-android:
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v4
    - name: git-update-dependecies
      run: git submodule update --init --recursive
    - name: gen
      shell: bash
      run: |
          sh android-gen.sh > GenLog.txt -Wait -NoNewWindow -PassThru 
          cat GenLog.txt
          if grep -Fxq "$GenLog.txt" "Configuring incomplete"
          then
              exit 1
          fi
          exit 0
    - name: build-android
      shell: bash
      run: |
          sh android-build.sh > BuildLog.txt -Wait -NoNewWindow -PassThru
          cat BuildLog.txt
          if (grep -Fxq "$BuildLog.txt" " error: ")
          then
            exit 1
          fi
          exit 0
    - name: clear-cmake-cache
      shell: bash
      run: |
          rm build/CMakeCache.txt
    - name: gen-shared
      shell: bash
      run: |
          sh android-gen-shared.sh > GenLog.txt -Wait -NoNewWindow -PassThru 
          cat GenLog.txt
          if grep -Fxq "$GenLog.txt" "Configuring incomplete"
          then
              exit 1
          fi
          exit 0
    - name: build-android-shared
      shell: bash
      run: |
          sh android-build.sh > BuildLog.txt -Wait -NoNewWindow -PassThru
          cat BuildLog.txt
          if (grep -Fxq "$BuildLog.txt" " error: ")
          then
            exit 1
          fi
          exit 0
    - uses: actions/cache/save@v4
      with:
        path: build/Package
        key: ndk-cache-android-${{ github.sha }}

         
