# /*************************************************************************************************
# * Copyright 2023-2024 Theai, Inc. dba Inworld AI
# *
# * Use of this source code is governed by the Inworld.ai Software Development Kit License Agreement
# * that can be found in the LICENSE.md file or at https://www.inworld.ai/sdk-license
# *************************************************************************************************/

name: build-win

on:
  workflow_call:

jobs:
  build-win:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2

    - name: cppcheck-install
      run: |
          choco install cppcheck || echo "Continue after installation..."
      shell: pwsh

    - name: git-update-dependecies
      run: git submodule update --init --recursive
      shell: bash

    - name: gen
      run: |
        sh win-gen.bat > GenLog.txt -Wait -NoNewWindow -PassThru 
        cat GenLog.txt
        if (grep -Fxq "$GenLog.txt" "Configuring incomplete")
        then
            exit 1
        fi
        exit 0
      shell: bash

    - name: cppcheck-run
      run: |
        sh win-cppcheck.bat > CppCheckLog.txt -Wait -NoNewWindow -PassThru
        cat CppCheckLog.txt
        if (grep -Fxq "$CppCheckLog.txt" "cppcheck fail:")
        then
          echo "CppCheck fail"
          exit 1
        fi
        exit 0
      shell: bash

    - name: build-win
      run: |
        sh win-build.bat > BuildLog.txt -Wait -NoNewWindow -PassThru
        cat BuildLog.txt
        if (grep -Fxq "$BuildLog.txt" ": error")
        then
          exit 1
        fi
        if (grep -Fxq "$BuildLog.txt" "FAILED")
        then
          exit 1
        fi
        exit 0
      shell: bash

    - name: clear-cmake-cache
      run: rm -f build/CMakeCache.txt
      shell: bash

    - name: gen-shared
      run: |
        sh win-gen-shared.bat > GenLog.txt -Wait -NoNewWindow -PassThru
        cat GenLog.txt
        if grep -Fxq "$GenLog.txt" "Configuring incomplete"
        then
            exit 1
        fi
        exit 0
      shell: bash

    - name: build-win-shared
      run: |
        sh win-build.bat > BuildLog.txt -Wait -NoNewWindow -PassThru
        cat BuildLog.txt
        if (grep -Fxq "$BuildLog.txt" ": error")
        then
          exit 1
        fi
        if (grep -Fxq "$BuildLog.txt" "FAILED")
        then
          exit 1
        fi
        exit 0
      shell: bash

    - uses: actions/cache@v3
      with:
        path: build\Package
        key: ndk-cache-win64-${{ github.sha }}