# /*************************************************************************************************
# * Copyright 2022 Theai, Inc. (DBA Inworld)
# *
# * Use of this source code is governed by the Inworld.ai Software Development Kit License Agreement
# * that can be found in the LICENSE.md file or at https://www.inworld.ai/sdk-license
# *************************************************************************************************/

name: build-win

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'


jobs:
  build-win:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v2
    - name: git-update-dependecies
      run: git submodule update --init --recursive | Write-Host
    - name: gen
      shell: pwsh
      run: |
          Start-Process -FilePath "win-gen-unity.bat" " > GenLog.txt" -Wait -NoNewWindow -PassThru 
          cat GenLog.txt
          if (Select-String -Path GenLog.txt -Pattern "Configuring incomplete" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0
    - name: build-win
      shell: pwsh
      run: |
          Start-Process -FilePath "win-build.bat" " > BuildLog.txt" -Wait -NoNewWindow -PassThru
          cat BuildLog.txt
          if (Select-String -Path BuildLog.txt -Pattern "InworldNDK.vcxproj ->" -SimpleMatch -Quiet)
          {
            "InworldNDK built successful"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "InworldNDKApp.vcxproj ->" -SimpleMatch -Quiet)
          {
            "InworldNDKApp built successful"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "InworldNDKUnit.vcxproj ->" -SimpleMatch -Quiet)
          {
            "InworldNDKUnit built successful"
          }
          else
          {
            exit 1
          }
          if (Select-String -Path BuildLog.txt -Pattern "[  FAILED  ]" -SimpleMatch -Quiet)
          {
            exit 1
          }
          exit 0

         
